{% extends 'application/home.html' %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="register-form">
        <form method="post">
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class='border-bottm mb-4'>Login To Your Account</legend>
                
                {{form | crispy}} <br>

            </fieldset>
            <div class='form-group text-center'>
                <button class='btn btn-outline-info mb-5' type='submit'>Login</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class='text-muted'>
                Create an account. <a class='ml-2' href='{% url 'register'%}'>Sign Up</a>
            </small>
        </div>
    </div>

{%endblock content%}