{% extends 'application/home.html' %}

{% block content%}
    <div class="register-form">
        <form method="post">
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class='border-bottm mb-4'>Register Your Account</legend>
                {{form.username}} <br>
                
                {{form.email}} <br>

                {{form.password1}} <br>
                
                {{form.password2}} <br>

            </fieldset>
            <div class='form-group text-center'>
                <button class='btn btn-outline-info mb-5' type='submit'>SingUp</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class='text-muted'>
                Already have an account? <a class='ml-2' href='{% url 'login' %}'>Login</a>
            </small>
        </div>
    </div>

{%endblock content%}